<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lyrics Playlist</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container">
      <!--<h1>Results</h1>-->
      <div class="jumbotron">
        <h1><%= @user_playlist.name %></h1>
        <h2><%= @user_playlist.user %></h2>
        <p><%= @user_playlist.playlist_id %></p>
      </div>
      <% @user_playlist.songs.each do |song| %>
        <div class="row"></div>
          <div class="col-sm-6">
            <h1><%= song.name %></h1>
            <h3><%= song.artist %></h3>
            <% song.lyrics.each do |line| %>
              <p><%= line %></p>
            <% end %>
          </div>
          <div class="col-sm-6">
            <img src=<%= song.album_img %>>
          </div>
        </div>
      <% end %>
    </div>
    
  </body>
</html>
